.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    background: rgba(16, 15, 15, 0.5);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.logo span {
    color: white;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: orange;
}

.header-icons .icon {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.header-icons .icon:hover {
    color: orange;
}